# 06 - Pandas

- Source of example datasets: https://github.com/mwaskom/seaborn-data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## 基本数据结构：DataFrame、Series

intro to data structure: https://pandas.pydata.org/docs/user_guide/dsintro.html

In [45]:
# 从已有对象创建
df = pd.DataFrame({
    'a': range(3),
    'b': list('xyz'),
    'c': np.random.normal(size=3),
    'd': 1
})
df

   a  b         c  d
0  0  x -2.134432  1
1  1  y -0.232488  1
2  2  z  0.737153  1

In [9]:
# 从文件创建
iris = pd.read_table('homework/iris.csv', sep=',')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
type(iris)

pandas.core.frame.DataFrame

In [4]:
type(iris.sepal_length)

pandas.core.series.Series

Series类似R里面的向量，DataFrame类似前面将的dict,即DataFrame ~ dict of Series

In [11]:
x = pd.Series(list('aabbbc'))
x

0    a
1    a
2    b
3    b
4    b
5    c
dtype: object

In [12]:
x.value_counts()

b    3
a    2
c    1
Name: count, dtype: int64

In [13]:
x[0]

'a'

In [14]:
x.isna()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [15]:
x.isin(['a', 'b'])

0     True
1     True
2     True
3     True
4     True
5    False
dtype: bool

In [19]:
# Series可以有名字
s = pd.Series(np.random.standard_normal(5), index=list('abcde'))
s

a   -0.881874
b   -1.093835
c   -1.160521
d   -1.496060
e    1.010568
dtype: float64

In [51]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [53]:
s.values

array([-0.8818743 , -1.09383468, -1.16052141, -1.49605982,  1.0105679 ])

In [57]:
print([i for i in dir(s) if not i.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'c', 'case_when', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'list', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'struct', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

## 提取子集 (indexing/slicing)
（能提取即能赋值，不再赘述）

In [29]:
df

   a  b         c  d
0  0  x  0.552179  1
1  1  y  0.133314  1
2  2  z -0.267828  1

In [30]:
df['a']    # 字符串索引提取列得到Series

0    0
1    1
2    2
Name: a, dtype: int64

In [31]:
df[['a']]  # 列表索引得到包含指定列的DataFrame

   a
0  0
1  1
2  2

In [32]:
df[df['a'] > 0]   # 逻辑向量索引选取符合条件的行

   a  b         c  d
1  1  y  0.133314  1
2  2  z -0.267828  1

In [33]:
df.a       # OOP style

0    0
1    1
2    2
Name: a, dtype: int64

In [34]:
df.index  # 行名

RangeIndex(start=0, stop=3, step=1)

In [40]:
df.index = [2, 1, 0]
df

   a  b         c  d
2  0  x  0.552179  1
1  1  y  0.133314  1
0  2  z -0.267828  1

In [36]:
df.columns  # 列名

Index(['a', 'b', 'c', 'd'], dtype='object')

In [41]:
# 根据行名或列名索引
df.loc[[1, 2], ['a', 'b']]

   a  b
1  1  y
2  0  x

In [39]:
df.loc[:, 'a']

0    0
1    1
2    2
Name: a, dtype: int64

--------------

🙋**练习**

下面代码的输出应该是什么？
```python
df.loc[:, ['a']]
```

--------------

In [44]:
# 根据行或列的顺序索引（与numpy 2D array类似）
df.iloc[::-1, ::-1]

   d         c  b  a
0  1 -0.267828  z  2
1  1  0.133314  y  1
2  1  0.552179  x  0

In [46]:
# Series的索引与DataFrame的列类似
s

a   -0.881874
b   -1.093835
c   -1.160521
d   -1.496060
e    1.010568
dtype: float64

In [47]:
s.a

np.float64(-0.8818743029592794)

In [48]:
s['a']

np.float64(-0.8818743029592794)

In [49]:
s.loc['a']

np.float64(-0.8818743029592794)

In [50]:
s.iloc[0]

np.float64(-0.8818743029592794)

## 分组操作

GroupBy -> Summarize

In [58]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [60]:
iris.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [65]:
# 等价于
iris.groupby('species').agg('mean')

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

GroupBy -> Transform

In [66]:
iris.groupby('species').cumsum()

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1            10.0          6.5           2.8          0.4
2            14.7          9.7           4.1          0.6
3            19.3         12.8           5.6          0.8
4            24.3         16.4           7.0          1.0
..            ...          ...           ...          ...
145         304.5        136.8         256.9         93.3
146         310.8        139.3         261.9         95.2
147         317.3        142.3         267.1         97.2
148         323.5        145.7         272.5         99.5
149         329.4        148.7         277.6        101.3

[150 rows x 4 columns]

In [67]:
# 等价于
iris.groupby('species').transform('cumsum')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1            10.0          6.5           2.8          0.4
2            14.7          9.7           4.1          0.6
3            19.3         12.8           5.6          0.8
4            24.3         16.4           7.0          1.0
..            ...          ...           ...          ...
145         304.5        136.8         256.9         93.3
146         310.8        139.3         261.9         95.2
147         317.3        142.3         267.1         97.2
148         323.5        145.7         272.5         99.5
149         329.4        148.7         277.6        101.3

[150 rows x 4 columns]

通用方案：Groupby -> Apply

In [70]:
iris.groupby('species')['sepal_length'].apply(lambda x: np.mean(x))

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [78]:
iris.groupby('species').apply(lambda df: df.mean())

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

## 拓展（自学内容）

- 常用函数速查：https://github.com/gxelab/tutorials/blob/main/essential_pandas.md
- 官方教学：https://pandas.pydata.org/docs/user_guide/index.html
- How to read documentation/manual?